.row {
    padding: 25px;
}

.heading {
 text-decoration: underline;
}

.adminCafe {
    height: 30em;
    overflow: scroll;
}

.select {
    width: 9em;
    position: relative;
    margin-top: 10px;
    left: 0px;
}

#editButton {
    display: none;
}

#submitButton {
    display: inline;
}


