@font-face {
    font-family: agilis;
    src: url("../font/Agilis.otf");
}

nav {
    background-color:rgba(15, 58, 14) !important;
    border-radius: none !important;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
    color: white !important;
    height: 100%;
    font-family: agilis;
}

.navbar-default {
    background-image: none !important;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
}

.navbar-right {
    font-size: 1.5em;
    margin-right: 0px;
    margin-top: 20px;
}

.logo {
    width: 70%;
}